[Desktop Entry]
Name=Flashlapse GUI Refresh
Comment=Updates and Resets Flashlapse GUI
Icon=/home/pi/Documents/Flashlapse_Pro_Dev/_image/update.ico
Exec=sh /home/pi/Documents/Flashlapse_Pro_Dev/update.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
